/* banner style */
.custom {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 80px 100px 80px 100px;

}





.title {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.Idea {
    width: 622px;
    height: 201px;
    font-size: 56px;
    font-weight: 700px;
    margin-top: 16px;
}

.hero {
    position: left;
    width: 474.03px;
    height: 329.21px;
    padding-right: 61px;
    padding-top: 80px;
    padding-bottom: 80px;


}


nav button:hover .btn {
    display: block;
    color: aqua;
}

.btn {

    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;

}

/* vision of bangladesh Styles */
.vision-container {
    margin-left: 160px;
    margin-right: 160px;
}

.vision-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.vision-desc {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.text-center {
    text-align: center;
}

.idea-container {
    display: flex;
    gap: 24px;
}

.vision {
    padding: 32px;
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Background style color */

.sky {
    background: rgba(84, 144, 245, 0.2);
}

.green {
    background: rgb(198, 228, 214);
}

.yellow {
    background: rgb(247, 235, 207);

}


.btn-p {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 144, 245);
    border: none;
}

/* Button style */
.btn-l {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(9, 161, 92);
    border: none;

}

.btn-yellow {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 194, 57);
    border: none;
}

.h-edit {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.v-edit {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.Dr {
    display: flex;
    padding: 48px;
    margin-top: 32px;
    margin-left: 160px;
    margin-right: 160px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.lorem {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 12px;
    word-spacing: 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 12px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;


}

.july {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.lorem1 {
    margin-top: 4px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 12px;
}

/* recent news styles */

.recent {
    display: flex;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
}

.project {
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.news-decription {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.new-bangladesh {
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    align-items: center;
    gap: 32;
    padding: 48px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);




}

.launch {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.justify {
    display: flex;
    text-align: justify;
    gap: 32px;

}

.image {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.button-al {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    border: none;

}

.descrip {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.another-bangladesh {
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    align-items: center;
    gap: 32;
    padding: 48px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-left: 160px;
    margin-right: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.last {
    text-align: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 80px;
}

.last-one {
    margin: 24px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.repo {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.ammount-box-container {
    display: flex;
    justify-content: center;
}

.ammount-box {

    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0px 24px;
    padding: 40px;
    width: 240px;
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    gap: 24px;
}

.ammo {
    background-color: rgb(198, 228, 214);
}

.donate-btn {
    margin: 32px 0px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
}

.amount {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    margin: 32px auto;
    height: 64px;
    width: 100%;
    border: none;

}